{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Whacky Widgetz</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <h1>Whacky Widgetz</h1>
  {% if widget_list|length %}
    <table class="pure-table">
      <thead>
        <tr>
          <th>Description</th>
          <th>Quantity</th>
          <th>Delete</th>
        </tr>
      </thead>
    <tbody> 
      {% for widget in widget_list %}
        <tr>
          <td>{{ widget.description }}</td>
          <td>{{ widget.quantity }}</td>
          <td><a href="{% url 'delete' widget.id %}">X</a></td>
        </tr>
      {% endfor %}
        <tr>
          <td><strong>TOTAL QUANTITY</strong></td>
          <td><strong>{{ total.total_value }}</strong></td>
          <td></td>
        </tr>
    </tbody>
  </table>
  {% else %}
    <h3>No Widgets Created!</h3>
  {% endif %}
  <hr>
  <div class="pure-g">
      <div class="pure-u-2-5"></div>
      <div class="pure-u-1-5">
        <form class="pure-form pure-form-stacked"action="" method="POST">
          {% csrf_token %}
          {{ form.as_table }}
          <input class="pure-button" type="submit" value="ADD WIDGET">
        </form>
      </div>
  </div>
  
  
</body>
</html>

